---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: skippo-enwind
  labels:
    app: enwind
spec:
  replicas: 1
  selector:
    matchLabels:
      app: enwind
  template:
    metadata:
      labels:
        app: enwind
    spec:
      containers:
        - name: enwind
          image: arseniskobelev/skippo-enwind:daf8a6a8a9462787dba978ed4bf9be390d6b4712
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: skippo-data
              mountPath: /app/data
      volumes:
        - name: skippo-data
          emptyDir: {}
